<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#">Nfl Players</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="buttons mt-5">


     </div>



    </div>
  </div>
</nav>


<div class="container mt-5">

  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Player</h1>

        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group ">
                    <label for="asset_name">Player Name:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <input type="text" class="form-control"
                              name="name"
                                autofocus />
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group ">
                    <label for="asset_name">Rushing Yards:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <input type="text" class="form-control"
                            name="rushing_yards"
                                autofocus />
                        </div>
                    </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group ">
                    <label for="asset_name">Touch Downs:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <input type="text" class="form-control"
                           name="touchdowns"
                                autofocus />
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group ">
                    <label for="asset_name">Sacks:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <input type="text" class="form-control"
                          name="sacks"
                                autofocus />
                        </div>
                    </div>
                </div>
              </div>
                <div class="col-md-6">
                <div class="form-group ">
                    <label for="asset_name">Made Goals:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <input type="text" class="form-control"
                           name="made_goals"
                                autofocus />
                        </div>
                    </div>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group ">
                    <label for="asset_name">Missed Goals:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <input type="text" class="form-control"
                            name="missed_goals"
                                autofocus />
                        </div>
                    </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group ">
                    <label for="asset_name">Catches Made:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <input type="text" class="form-control"
                           name="catches_made"
                                autofocus />
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-outline-dark w-100">Submit</button>
        </div>

      </div>
    </div>



  </div>
</div>




